.main-content-body-container {
  width: 299px;
  margin: 0 auto;
  .live-music-link {
    @include content-link-style(132px);
    .fontella-bass-img {
      width: 83px;
      height: 110px;
      position: absolute;
      bottom: 0;
      left: -8px;
    }
    .star-1-img {
      width: 35px;
      position: absolute;
      top: 60px;
      left: 63px;
    }
    .star-2-img {
      width: 40px;
      position: absolute;
      top: 35px;
      right: 13px;
    }
    .star-3-img {
      width: 40px;
      position: absolute;
      bottom: 3px;
      right: 32px;
    }
    h1 {
      @include absolute-position-100-percent-width;
      @include transform(scale(0.6, 1.9));
      top: 12px;
      left: 23px;
      letter-spacing: 3px;
    }

    h6 {
      @include transform(scale(1, 1.5));
      font-size: .5rem;
      font-weight: $font-weight-500;
      position: absolute;
      top: 66px;
      left: 98px;
    }
    h2 {
      @include transform(scale(1, 1.3));
      font-weight: $font-weight-500;
      position: absolute;
      top: 56px;
      left: 126px;
    }
    h5 {
      @include transform(scale(1, 1.1) rotate(-8deg));
      font-size: .6rem;
      font-weight: $font-weight-500;
      letter-spacing: 1.8px;
      position: absolute;
      top: 89px;
      left: 58px;
    }
  }
  .live-music-link::before {
    content: "";
    @include absolute-position-100-percent-width;
    @include transform(SkewX(-10deg));
    height: 132px;
    z-index: -1;
    background: #FF4D35;
  }
  .live-music-link::after {
    content: "";
    position: absolute;
    left: 110px;
    width: (100%-40);
    @include transform(SkewX(-9deg));
    height: 132px;
    z-index: -2;
    background: #FF4D35;
  } // live music link end

  .karaoke-link {
    @include content-link-style(125px);
    .star-1-img {
      width: 35px;
      position: absolute;
      top: 2px;
      right: 15px;
    }
    h5 {
      @include sub-header-font;
      @include transform(scale(1.1, 1.1) rotate(-20deg));
      position: absolute;
      top: 12px;
      left: -2px;
      font-size: 1rem;
      font-weight: 200;
      font-family: 'Yellow Regular';
    }
    h6 {
      @include transform(scale(1, 1.2));
      position: absolute;
      top: 35px;
      left: 35px;
      font-size: 0.48rem;
      font-weight: 500;
      letter-spacing: 1px;
    }
    h1 {
      @include transform(scale(.75, 2));
      position: absolute;
      bottom: 10px;
      left: -12px;
      font-size: 2.5rem;
      letter-spacing: 5px;
    }
  }
  .karaoke-link::before {
    @include absolute-position-100-percent-width;
    @include transform(SkewX(10deg));
    content: "";
    height: 125px;
    left: -3px;
    z-index: -1;
    background: #FF9F00;
  }
  .karaoke-link::after {
    @include transform(SkewX(10deg));
    content: "";
    position: absolute;
    top: 0;
    right: -1px;
    width: (100%-40);
    height: 125px;
    z-index: -2;
    background: #FF9F00;
  } // karaoke link end

  .bingo-link {
    @include content-link-style(148px);
    .star-2-img {
      position: absolute;
      bottom: 0;
    }
    h1 {
      @include transform(scale(1.05, 1.7));
      color: $sand-color;
      font-size: 3.5rem;
      letter-spacing: 6.5px;
      position: absolute;
      top: 14px;
      left: 24px;
      font-weight: 200;
    }
    div {
      position: absolute;
      left: 40px;
      bottom: 15px;
      h5{
        font-size: .75rem;
        font-weight: 200;
        letter-spacing: 3px;
      }
    }
  }
  .bingo-link::before {
    content: "";
    @include absolute-position-100-percent-width;
    @include transform(SkewX(-10deg));
    height: 148px;
    left: -3px;
    z-index: -1;
    background: #00B0DF;
  }
  .bingo-link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 110px;
    width: (100%-40);
    @include transform(SkewX(-9deg));
    height: 148px;
    z-index: -2;
    background: #00B0DF;
  } // bingo link end

  .breakfast-link {
    @include content-link-style(128px);
    img {
      position: absolute;
      &:nth-child(1) {
        top: 8px;
        right: 24px;
      }
      &:nth-child(2) {
        left: 60px;
        bottom: 10px;
      }
    }
    h5 {
      @include transform(scale(1.1, 1.1) rotate(-23deg));
      font-size: 1.1rem;
      font-weight: 200;
      font-family: 'Yellow Regular';
      letter-spacing: 1px;
      position: absolute;
      top: 22px;
    }
    h2 {
      font-size: 2rem;
      letter-spacing: 1px;
      position: absolute;
      bottom: 40px;
      right: 20px;
    }
    h4 {
      position: absolute;
      bottom: 17px;
      right: 3px;
      font-size: 1.6rem;
      font-weight: 200;
      font-family: 'Yellow Regular';
      text-decoration: underline;
    }
  }
  .breakfast-link::before {
    content: "";
    @include absolute-position-100-percent-width;
    @include transform(SkewX(10deg));
    height: 128px;
    left: -3px;
    z-index: -1;
    background: #FF4D35;
  }
  .breakfast-link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 110px;
    width: (100%-40);
    @include transform(SkewX(9deg));
    height: 128px;
    z-index: -2;
    background: #FF4D35;
  } // breakfast link end

  .lunch-link {
    @include content-link-style(128px);
    h6 {
      @include transform(scale(1, 1.5));
      font-family: FUTURA;
      font-weight: 200;
    }
    div {
      &:nth-child(2) {
        h2 {
          font-size: 2rem;
          position: absolute;
          &:nth-child(1) {
                @include transform(rotate(-21deg));
                left: 90px;
                top: 42px;
          }
          &:nth-child(2) {
                @include transform(rotate(-15deg));
                left: 113px;
                top: 34px;
          }
          &:nth-child(3) {
                @include transform(rotate(-10deg));
                left: 142px;
                top: 27px;
          }
          &:nth-child(4) {
                @include transform(rotate(-5deg));
                left: 172px;
                top: 22px;
          }
          &:nth-child(5) {
                @include transform(rotate(-2deg));
                left: 200px;
                top: 22px;
          }
        }
      }
    }
  }
  .lunch-link::before {
    content: "";
    @include absolute-position-100-percent-width;
    @include transform(SkewX(-10deg));
    height: 128px;
    left: -3px;
    z-index: -1;
    background: #FF9F00;
  }
  .lunch-link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 110px;
    width: (100%-40);
    @include transform(SkewX(-9deg));
    height: 128px;
    z-index: -2;
    background: #FF9F00;
  }
}
