.main-header-container {
  color: $navy-blue-color;
  text-align: center;
  padding: 0 6px;
  position: relative;
  margin-bottom: 36px;
  h3 {
    font-size: .8rem;
    letter-spacing: 1px;
  }
  h1 {
    font-size: 1.8rem;
  }
  .horizontal-rule {
    width: 100%;
    border: 2px solid #195FAD;
  }
  h6 {
    @include sub-header-font;
  }
  .portland {
    @include transform(scale(1, 1.1) translateX(-50%));
    position: absolute;
    top: 60px;
    left: 50%;
    background-color: #E6D0B8;
    width: 110px;
  }
  div {
    h2, h6 {
      display: inline-block;
    }
    span {
      @include sub-header-font;
      @include transform(scale(1, 1.5));
      display: block;
      text-align: left;
      &:nth-child(2) {
        margin-top: 2px;
      }
    }
  }
}
